<h1><%= @chef.name %></h1>

<%= link_to 'Ingredients', "/chefs/#{@chef.id}/ingredients" %>

<h3>Dishes</h3>
<% @chef.dishes.each do |dish| %>
    <p><%= dish.name %></p>
<% end %>

<%= form_with url: "/chefs/#{@chef.id}", method: :patch, local: true do |form| %>
    <%= form.label :add_dish, 'Add Dish' %>
    <%= form.text_field :add_dish %>
    <%= form.submit 'Submit' %>
<% end %>